/* There are no differences for desktop layout */

/* FOR TABLETS 768px (768/16=48) */
@media (min-width: 48em) {
  body {
    padding: calc((128 / 16) * 1rem) calc((48 / 16) * 1rem)
      calc((128 / 16) * 1rem) calc((48 / 16) * 1rem);
  }

  .recipe-container {
    border-radius: 24px;
    padding: calc((40 / 16) * 1rem);
  }

  .recipe-img {
    border-radius: 24px;
  }

  .recipe-info-container {
    padding: calc((40 / 16) * 1rem) 0 0 0;
  }

  #recipe-title {
    font-size: calc((40 / 16) * 1rem);
  }
}
