body {
  font-family: "Outfit", Arial, sans-serif;
  background-color: #f3e6d8;
  font-weight: 400;

  /* center recipe card and footer  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc((20 / 16) * 1rem);
}

@media (min-width: 48em) {
  body {
    padding: calc((128 / 16) * 1rem) calc((48 / 16) * 1rem)
      calc((128 / 16) * 1rem) calc((48 / 16) * 1rem);
  }
}

/* GENERAL USE ---------------------------------- */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: calc((24 / 16) * 1rem);
}

.grey-line {
  border-top: 1px solid #e4ded8;
}

/* REUSABLE TEXT */
.text16px-Stone600 {
  font-size: calc((16 / 16) * 1rem);
  color: #5f574e;
}

.text16px-Stone600 span {
  font-weight: 700;
}

/* UNORDERED & ORDRED LISTS */
ul,
ol {
  list-style: none;
}

ul li,
ol li {
  position: relative;
  padding-left: calc((40 / 16) * 1rem);
  padding-bottom: calc((8 / 16) * 1rem);
}

ul li:last-child,
ol li:last-child {
  padding-bottom: 0rem;
}

ul li::before,
ol li::before {
  content: "•";
  position: absolute;
  left: calc((8 / 16) * 1rem);
  color: #7b284f;
  font-weight: 700;
}

/* ordered */
ol {
  counter-reset: my-counter;
}

ol li {
  counter-increment: my-counter;
}

ol li::before {
  content: counter(my-counter) ".";
}

/* TITLES */
.ingredients-title,
.instructions-title,
.nutrition-title {
  font-family: "Young Serif", Georgia, serif;
  font-size: calc((28 / 16) * 1rem);
  line-height: 1;
}

.ingredients-title {
  color: #7b284f;
}

.instructions-title,
.nutrition-title,
.preparation-title {
  color: #854632;
}

/* ARTICLE-MAIN CARD----------------------------- */
.recipe-container {
  background-color: #fff;
}

@media (min-width: 48em) {
  .recipe-container {
    border-radius: 24px;
    padding: calc((40 / 16) * 1rem);
  }
}

/* IMAGE------------------------------------------ */
.recipe-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 48em) {
  .recipe-img {
    border-radius: 24px;
  }
}

/* MAIN INFO CONTAINER---------------------------- */
.recipe-info-container {
  padding: calc((40 / 16) * 1rem) calc((32 / 16) * 1rem) calc((40 / 16) * 1rem)
    calc((32 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  gap: calc((32 / 16) * 1rem);
}

@media (min-width: 48em) {
  .recipe-info-container {
    padding: calc((40 / 16) * 1rem) 0 0 0;
  }
}

/* TITLE */
#recipe-title {
  font-family: "Young Serif", Georgia, serif;
  font-size: calc((36 / 16) * 1rem);
  line-height: 1;
  color: #302d2c;
}

@media (min-width: 48em) {
  #recipe-title {
    font-size: calc((40 / 16) * 1rem);
  }
}

/* PREPARATION--------------------------------------- */
.preparation-container {
  background-color: #fff5fa;
  padding: calc((24 / 16) * 1rem);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: calc((16 / 16) * 1rem);
}

.preparation-title {
  font-size: calc((20 / 16) * 1rem);
  font-weight: 600;
  line-height: 1;
}

/* NUTRITION (table)--------------------------------- */

.tb-col1 {
  padding-left: calc((32 / 16) * 1rem);
  padding-right: calc((8 / 16) * 1rem);
  padding-top: calc((12 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
}

.tb-col2 {
  padding-left: calc((8 / 16) * 1rem);
  padding-right: calc((32 / 16) * 1rem);
  padding-top: calc((12 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
  color: #7b284f;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border-bottom: 1px solid #e4ded8;
}

table tr:first-child td:first-child,
table tr:first-child td:last-child {
  padding-top: 0rem;
}

table tr:last-child,
table tr:last-child td:first-child,
table tr:last-child td:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
}

/* FOOTER-------------------------------------------- */
.attribution {
  font-size: calc((11 / 16) * 1rem);
  text-align: center;
}
.attribution a {
  color: #7b284f;
}
