/*********************************/
/* FOR MOBILES */
/*********************************/

body {
  font-family: "Outfit", Arial, sans-serif;
  background-color: #f3e6d8;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: calc((20 / 16) * 1rem);
}

/* ARTICLE-MAIN CARD--------------------------------- */
.recipe-container {
  background-color: #fff;
}

/* IMAGE */
.recipe-img-container {
}

.recipe-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* MAIN INFO CONTAINER */
.recipe-info-container {
  padding: calc((40 / 16) * 1rem) /* top */ calc((32 / 16) * 1rem) /* right */
    calc((40 / 16) * 1rem) /* bottom */ calc((32 / 16) * 1rem); /* left */

  display: flex;
  flex-direction: column;
  gap: calc((32 / 16) * 1rem);
}

/* TITLE */
.title-container {
  display: flex;
  flex-direction: column;
  gap: calc((24 / 16) * 1rem);
}

#recipe-title {
  font-family: "Young Serif", Georgia, serif;
  font-size: calc((36 / 16) * 1rem);
  line-height: 1;

  color: #302d2c;
}

.recipe-description {
  font-size: calc((16 / 16) * 1rem);
  line-height: 1.5;
  color: #5f574e;
}

/* PREPARATION */
.preparation-container {
  background-color: #fff5fa;
  padding: calc((24 / 16) * 1rem);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: calc((16 / 16) * 1rem);
}

.preparation-title {
  font-size: calc((20 / 16) * 1rem);
  font-weight: 600;
  line-height: 1;
  color: #854632;
}

.preparation-list {
  display: flex;
  flex-direction: column;
  gap: calc((8 / 16) * 1rem);
  list-style: none;
}

.preparation-list-item ::before {
  content: "•";
  color: #7b284f;
  text-align: left;

  width: calc((16 / 16) * 1rem);
  display: inline-block;

  margin-left: calc((8 / 16) * 1rem);
  margin-right: calc((16 / 16) * 1rem);
}

.preparation-list-item {
  font-size: calc((20 / 16) * 1rem);
  line-height: 1.5;
  color: #5f574e;
}

.preparation-list-item span {
  font-weight: 700;
}

/* INGREDIENTS */
.ingredients-container {
}

.ingredients-title {
}

.ingredients-list {
}

.ingredients-list-item {
}

.instructions-container {
}

.instructions-title {
}

.instructions-list {
}

.instructions-list-item {
}

.nutrition-container {
}

.nutrition-title {
}

.nutrition-text {
}

.nutrition-table {
}

/* FOOTER-------------------------------------------- */
.attribution {
  font-size: calc((11 / 16) * 1rem);
  text-align: center;
}
.attribution a {
  color: #7b284f;
}
