/*********************************/
/* FOR MOBILES */
/*********************************/

body {
  font-family: "Outfit", Arial, sans-serif;
  background-color: #f3e6d8;
  font-weight: 400;

  /* center recipe card and footer  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc((20 / 16) * 1rem);
}

/* GENERAL USE ---------------------------------- */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: calc((24 / 16) * 1rem);
}

.dot-style {
  color: #7b284f;
  font-size: calc((5 / 16) * 1rem);
}

.grey-line {
  border-top: 1px solid #e4ded8;
}

/* REUSABLE TEXT */
.text16px-Stone600 {
  font-size: calc((16 / 16) * 1rem);
  color: #5f574e;
}

.text16px-Stone600 span {
  font-weight: 700;
}

/* REUSABLE GRIDS */
.grid-4cols {
  display: grid;
  grid-template-columns:
    calc((8 / 16) * 1rem) calc((16 / 16) * 1rem) calc((16 / 16) * 1rem)
    auto;
  align-items: center;
}

.grid-5rows {
  display: grid;
  grid-template-rows: auto calc((8 / 16) * 1rem) auto calc((8 / 16) * 1rem) auto;
}

.grid-9rows {
  grid-template-rows:
    auto calc((8 / 16) * 1rem) auto calc((8 / 16) * 1rem) auto calc(
      (8 / 16) * 1rem
    )
    auto calc((8 / 16) * 1rem) auto;
}

.grid-11rows {
  display: grid;
  grid-template-rows:
    auto calc((8 / 16) * 1rem) auto calc((8 / 16) * 1rem) auto calc(
      (8 / 16) * 1rem
    )
    auto calc((8 / 16) * 1rem) auto calc((8 / 16) * 1rem) auto;
  align-items: start;
}

/* POSITION IN THE GRID*/
.col2-row1 {
  grid-column: 2;
  grid-row: 1;
}

.col2-row3 {
  grid-column: 2;
  grid-row: 3;
}

.col2-row5 {
  grid-column: 2;
  grid-row: 5;
}

.col2-row7 {
  grid-column: 2;
  grid-row: 7;
}

.col2-row9 {
  grid-column: 2;
  grid-row: 9;
}

.col2-row11 {
  grid-column: 2;
  grid-row: 11;
}

.col2-row13 {
  grid-column: 2;
  grid-row: 13;
}

.col4-row1 {
  grid-column: 4;
  grid-row: 1;
}

.col4-row3 {
  grid-column: 4;
  grid-row: 3;
}

.col4-row5 {
  grid-column: 4;
  grid-row: 5;
}

.col4-row7 {
  grid-column: 4;
  grid-row: 7;
}

.col4-row9 {
  grid-column: 4;
  grid-row: 9;
}

.col4-row11 {
  grid-column: 4;
  grid-row: 11;
}

.col4-row13 {
  grid-column: 4;
  grid-row: 13;
}

/* GREY LINE IN NUTRICION TABLE */
.nutri-table-line1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 3;
}

.nutri-table-line2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 7;
}

.nutri-table-line3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 11;
}

/* TITLES */
.ingredients-title,
.instructions-title,
.nutrition-title {
  font-family: "Young Serif", Georgia, serif;
  font-size: calc((28 / 16) * 1rem);
  line-height: 1;
}

/* ARTICLE-MAIN CARD----------------------------- */
.recipe-container {
  background-color: #fff;
}

/* IMAGE------------------------------------------ */
.recipe-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* MAIN INFO CONTAINER---------------------------- */
.recipe-info-container {
  padding: calc((40 / 16) * 1rem) calc((32 / 16) * 1rem) calc((40 / 16) * 1rem)
    calc((32 / 16) * 1rem);

  display: flex;
  flex-direction: column;
  gap: calc((32 / 16) * 1rem);
}

/* TITLE-------------------------------------------- */
#recipe-title {
  font-family: "Young Serif", Georgia, serif;
  font-size: calc((36 / 16) * 1rem);
  line-height: 1;

  color: #302d2c;
}

/* PREPARATION--------------------------------------- */
.preparation-container {
  background-color: #fff5fa;
  padding: calc((24 / 16) * 1rem);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: calc((16 / 16) * 1rem);
}

.preparation-title {
  font-size: calc((20 / 16) * 1rem);
  font-weight: 600;
  line-height: 1;
  color: #854632;
}

/* INGREDIENTS & NUTRITION INFO---------------------------------- */
.ingredients-title {
  color: #7b284f;
}

/* INSTRUCTIONS */
.instructions-title {
  color: #854632;
}

.instrct-number,
.nutri-col2 {
  font-size: calc((16 / 16) * 1rem);
  font-weight: 700;
  color: #854632;
}

.nutrition-title {
  color: #854632;
}

.nutrition-table {
  display: grid;
  grid-template-columns: calc((32 / 16) * 1rem) auto calc((16 / 16) * 1rem) auto calc(
      (32 / 16) * 1rem
    );

  grid-template-rows:
    auto calc((12 / 16) * 1rem) auto calc((12 / 16) * 1rem) auto calc(
      (12 / 16) * 1rem
    )
    auto calc((12 / 16) * 1rem) auto calc((12 / 16) * 1rem) auto calc(
      (12 / 16) * 1rem
    )
    auto;
}

/* FOOTER-------------------------------------------- */
.attribution {
  font-size: calc((11 / 16) * 1rem);
  text-align: center;
}
.attribution a {
  color: #7b284f;
}
